<h2>Notas Fiscais</h2>

<div *ngIf="error" style="color: white; background: red; padding: 10px;">
  {{ error }}
</div>

<div *ngIf="success" style="color: white; background: green; padding: 10px;">
  {{ success }}
</div>

<button (click)="create()" [disabled]="loading">
  {{ loading ? 'Processando...' : 'Criar Nota' }}
</button>

<ul>
  <li *ngFor="let n of invoices">
    <b>Nº {{ n.numero }} - {{ n.status }}</b>

    <button (click)="print(n.id!)" [disabled]="loading">
      {{ loading ? '...' : 'Imprimir' }}
    </button>

    <div *ngIf="n.status === 'ABERTA'">

      <input type="number"
             placeholder="Produto ID"
             [(ngModel)]="getItem(n.id!).produtoId">

      <input type="number"
             placeholder="Quantidade"
             [(ngModel)]="getItem(n.id!).quantidade">

      <button (click)="addItem(n.id!)" [disabled]="loading">
        Adicionar Item
      </button>

    </div>

    <ul>
      <li *ngFor="let item of n.itens">
        Produto {{ item.produtoId }} - Qtd: {{ item.quantidade }}
      </li>
    </ul>
  </li>
</ul>